:root {
  --background-skeleton-dark: #313131 ;
  --background-skeleton-light: #9f9f9f;
  --background-skeleton-default: var(--background-skeleton-dark);
}

.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlist__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  width: 51px;
  height: 51px;
  background-color: var(--background-skeleton-default);
}
.author {
  width: 356px;
  height: 19px;
  background-color: var(--background-skeleton-default);
}
.album {
  width: 271px;
  height: 19px;
  background-color: var(--background-skeleton-default);
}
.time {
  width: 305px;
  height: 19px;
  background-color: var(--background-skeleton-default);
}