:root {
  --background-imgChoose-dark: #FFFFFF;  
  --background-imgChoose-light: #181818;

  --background-choose-dark: #1C1C1C;
  --background-choose-light: #f7f6f5;

  --background-imgChoose-default: var(--background-imgChoose-dark);
  --background-choose-default: var(--background-choose-dark);

}

.button {
    background-color: var(--background-choose-default);
    border: none;
}

.img {
    color: var(--background-imgChoose-default);
}