:root {
  --color-text-dark: #FFFFFF;
  --color-text-light: #181818;

  --background-color-light: #F5F5F5;
  --background-color-dark: #181818;

  --background-image-dark: #313131;
  --background-image-light: #F6F4F4;

  --background-trackBar-dark: #2E2E2E;
  --background-trackBar-light: #D9D9D9;


  --color-text-default: var(--color-text-dark);
  --background-color-default: var(--background-color-dark);
  --background-image-default: var(--background-image-dark);
  --background-trackBar-default: var(--background-trackBar-dark);

}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--background-color-default);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.progress {
  --seek-before-width: 0;
  appearance: none;
  width: 100%;
  height: 5px;
  background-color: var(--background-trackBar-default);
  border-radius: 5px;
}

.progress:hover {
  height: 8px;
}

.progress::before {
  content: '';
  height: 5px;
  width: var(--seek-before-width);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  background-color: #B672FF;
}

.progress::-moz-range-progress{
  background-color: #B672FF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 5px;
}

.progress::-webkit-slider-thumb {
  appearance: none;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background: #B672FF;
  cursor: ew-resize;
}

.progress::-moz-range-thumb {
  appearance: none;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background: #B672FF;
  cursor: ew-resize;
}

.progress::-ms-thumb {
  appearance: none;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background: #B672FF;
  cursor: ew-resize;
}

.progress::-webkit-slider-thumb:hover {
  background: #B672FF;
  height: 8px;
}

.progress::-moz-range-thumb:hover {
 background: #B672FF;
  height: 8px;
}

.progress::-ms-thumb:hover {
  background: #B672FF;
  height: 8px;
}

.progress::-webkit-slider-runnable-track  {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.progress::-moz-range-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.progress::-moz-focus-outer {
  border: 0;
}

.progress::-ms-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}


.block {
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 27px 0 31px;
}

.prev, .play, .next, .repeat, .shuffle {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev {
  margin-right: 23px;
}

.play {
  margin-right: 23px;
}

.next {
  margin-right: 28px;
}

.repeat {
  margin-right: 24px;
}

.btn-text:hover {
  border-color: #D9B6FF;
  color: #D9B6FF;
  cursor: pointer;
}

.btnicon:hover svg {
  fill: transparent;
  stroke: #ACACAC;
  cursor: pointer;
}

.btn-text:active {
  border-color: #AD61FF;
  color: #AD61FF;
  cursor: pointer;
}

.btnicon:active svg {
  fill: transparent;
  stroke: #FFFFFF;
  cursor: pointer;
}

.btnicon:active .trackplay__likesvg,
.btnicon:active .trackplay__dislikesvg {
  fill: #696969;
  stroke: #FFFFFF;
  cursor: pointer;
}

.prevsvg {
  width: 15px;
  height: 14px;
} 

.stopsvg {
  width: 22px;
  height: 20px;
  fill: #D9D9D9;
}

.playsvg {
  width: 22px;
  height: 20px;
  fill: #D9D9D9;
}

.nextsvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #D9D9D9;
}

.repeatsvg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.shufflesvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.trackplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contain {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "image author" "image album";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image {
  width: 51px;
  height: 51px;
  background-color: var(--background-image-default);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 12px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4E4E4E;
}

.author {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: author;
  min-width: 49px;
}

.authorlink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-default);
  white-space: nowrap;
}

.album {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: album;
  min-width: 49px;
}

.albumlink {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-text-default);
}

.likedis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 26%;
}

.like, .dislike {
  padding: 5px;
}

.likesvg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.dislike {
  margin-left: 28.5px;
}

.dislikesvg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}

.volume {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 92px 0 0;
}

.volume__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__svg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volume__progress {
  width: 109px;
  display: flex;
}

.volume__progressline {
  width: 109px;
  height: 2px;
  background-color: var(--color-text-default);
  cursor: pointer;
  --seek-before-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* .volume__progressline::before {
  content: '';
  height: 5px;
  width: var(--seek-before-width);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  background-color: #B672FF;
}

 .volume__progressline::-moz-range-progress{
  background-color: #B672FF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 5px;
} */


.volume__progressline::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #1A1A1A;
  border: 2px solid #FFFFFF;
}

.volume__progressline::-moz-range-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #1A1A1A;
  border: 2px solid #FFFFFF;
}

.volume__progressline::-ms-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #1A1A1A;
  border: 2px solid #FFFFFF;
}

/* .volume__progressline::-webkit-slider-thumb:hover {
  background: #B672FF;
  height: 8px;
}

.volume__progressline::-moz-range-thumb:hover {
 background: #B672FF;
  height: 8px;
}

.volume__progressline::-ms-thumb:hover {
  background: #B672FF;
  height: 8px;
} */

/* .volume__progressline::-webkit-slider-runnable-track  {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volume__progressline::-moz-range-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volume__progressline::-moz-focus-outer {
  border: 0;
}

.volume__progressline::-ms-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
} */
